<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="Lise.whopaintit">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_wpi"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_wpi_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WhoPaintIt">
        <activity android:name=".RankingAct"></activity>
        <activity android:name=".ScoreAct" />
        <activity android:name=".QuizzAct" />
        <activity android:name=".WelcomeAct">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>